<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>


    <!-- Content for Static Frame 'header_frame' -->
    {% if branding %}
    <div id="header_content">Secure Environmental Group. </div>
    {% endif %}

    {% if not branding %}
    <div id="header_content">Lead Report</div>
    {% endif %}

    <!-- Content for Static Frame 'footer_frame' -->
    <div id="footer_content">Page <pdf:pagenumber /> </div>

    
    {% if branding %}
        <img class=logo src="logo/Logo 05.jpg" alt="">
    {% endif %}
    <h1 class="report">Lead-Based Paint Report</h1>


    <h3>INSPECTION FOR:</h3>
    <p>{{location_name}}</p>

    <h3>PERFORMED AT:</h3>
    <p>{{location_address}}</p>

    <h3>INSPECTION DATE:</h3>
    <p>{{start_date[0]}}</p>

    <h3>REPORT NUMBER:</h3>
    <p>{{report_number}}</p>

    <h3>INSTRUMENT TYPE:</h3>
    <p>{{instrument_detail}}</p>

    <h3>ACTION LEVEL:</h3>
    <p>0.5 mg/cm2</p>

    <h3>REPORT RESULTS:</h3>
    <p>{{results}}</p>


    <pdf:nextpage>
    {% if branding %}
    <p class="heading"> <img class=logo src="logo/Logo 05.jpg" alt=""> <br>
    <b>929-324-0487 | info@secureenvgroup.com | 25 Commerce Drive, Suite 340, Cranford, NJ 07016</b>  <br>
    {% endif %}

    {% if not branding %}
    <p class="heading">
   {% endif %}

    SEQUENTAIL READINGS REPORT OF LEAD PAINT INSPECTION FOR: {{location_name}} <br>

    Inspection Date: {{start_date[0]}} <br>
    Report Date: {{report_date}} <br>
    Location: {{location_address}} <br>
    Abatement Level: 0.5 mg/cm2 <br>
    Report Number: {{report_number}} <br>
    Total Readings: {{readings_total}} <br>
    Positive Readings: {{positive_readings}} <br>
    Job Start: {{start_date[1]}} <br>
    Job End: {{end_date[1]}} <br>
</p>
    <h1></h1>
    <table class="report-table" repeat="1">
        <tr class="heading-row">
        {% for item in headings %}
            <th>{{item}}</th>
        {% endfor %}
        </tr>
    {% for dict in sequential_df %}
       {% if dict['Result'] == 'Positive' or dict['Result'] == 'Inconclusive' %}
            <tr class="positive-table-row">
        {% for key, value in dict.items() %}
                <td>{{value}}</td>
        {% endfor %}
        {% else %}
            <tr class="negative-table-row">
        {% for key, value in dict.items() %}
                <td>{{value}}</td>
        {% endfor %}
        </tr>
        {% endif %}
    {% endfor %}

    </table>

    

    <pdf:nextpage>
    {% if branding %}
        <p class="heading"> <img class=logo src="logo/Logo 05.jpg" alt=""> <br>
    <b>929-324-0487 | info@secureenvgroup.com | 25 Commerce Drive, Suite 340, Cranford, NJ 07016</b>  <br>
    {% endif %}

    {% if not branding %}
    <p class="heading">
   {% endif %}

    POSITIVE RESULTS SUMMARY OF LEAD PAINT INSPECTION FOR: {{location_name}} <br>

    Inspection Date: {{start_date[0]}} <br>
    Report Date: {{report_date}} <br>
    Location: {{location_address}} <br>
    Abatement Level: 0.5 mg/cm2 <br>
    Report Number: {{report_number}} <br>
    Total Readings: {{readings_total}} <br>
    Positive Readings: {{positive_readings}} <br>
    Job Start: {{start_date[1]}} <br>
    Job End: {{end_date[1]}} <br>
</p>

    <table class="report-table" repeat="1">
        <tr class="heading-row">
        {% for item in headings %}
            {% if item != 'Room' %}
            <th>{{item}}</th>
            {% endif %}
        {% endfor %}
        </tr>

    {% set rm = namespace(room='None') %}
    {% for dict in summary_df %}
        {% if dict['Room'] != rm.room %}
            {% set rm.room = dict['Room'] %}
            <tr class="room-row">
                <td colspan="{{headings|length}}">{{rm.room}}</td>
            </tr>
        {% endif %}
        {% if dict['Result'] == 'Positive' or dict['Result'] == 'Inconclusive'%}
            <tr class="positive-table-row">
            {% for key, value in dict.items() %}
                {% if key != 'Room' %}
                    <td>{{value}}</td>
                {% endif %}
            {% endfor %}
            </tr>
        {% else %}
            <tr class="negative-table-row">
            {% for _, value in dict.items() %}
                <td>{{value}}</td>
            {% endfor %}
            </tr>
        {% endif %}
    {% endfor %}


    </table>

    
    <br>
    <br>
    <h2 class="eor">END OF READINGS</h2>




</body>
</html>