p {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    margin-left: 60px;
    margin-right: 40px;



  }

h1 {

    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;


  }

    h2 {
        font-family: 'Times New Roman', Times, serif;
        font-size: x-large;



    }

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    margin-left: 40px;


}

ul {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    padding-left: 60px;

}

.eor {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    justify-content: center;
    text-align: center;


}

.heading {

    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    text-align: center;
    color: hsl(0, 0%, 0%);
    margin: 20px;
    padding: 20px;
    border-style: solid;
    border-color: #2f302f;

}

.logo {
    width: 150px;
    height: auto;
    text-align: center;

}


.report{
    text-align: center;
}



@page {
    size: a4 portrait;
    @frame header_frame {           /* Static Frame */
        -pdf-frame-content: header_content;
        left: 50pt; width: 512pt; top: 50pt; height: 40pt;
    }
    @frame content_frame {          /* Content Frame */
        left: 50pt; width: 512pt; top: 90pt; height: 632pt;
    }
    @frame footer_frame {           /* Another static Frame */
        -pdf-frame-content: footer_content;
        left: 50pt; width: 512pt; top: 772pt; height: 20pt;
    }
}



.tables tr td{
    font-size: large;
    text-align: center;
    margin: 20px;
    padding : 2px 3px 2px 3px;
    border-style: solid;
    border-color: #2f302f;

}

.tables th{
    font-size: large;
    text-align: center;
    margin: 20px;
    padding : 2px 3px 2px 3px;
    border-style: solid;
    border-color: #2f302f;

}


.heading-row{
    padding : 2px 3px 2px 3px;
    border-bottom: 1.5px solid #000000;
    
}


.negative-table-row{
    background-color: #ffffff;
    padding : 2px 3px 2px 3px;
    border-top: .5px solid;
    border-color: #7a7878;
    text-align: center;

}

.positive-table-row{
    background-color: #b8b1b1;
    padding : 2px 3px 2px 3px;
    border-top: .5px solid #000000;
    border-color: #7a7878;
    text-align: center;

}


.notes-row{
    background-color: #ffffff;
    padding : 4px 3px 4px 3px;
    text-align: left;

}

.room-row{
    padding : 4px 3px 4px 3px;
    text-align: left;
    font-weight: bold;
    border-top : 2px solid #7a7878;

}


