.eor {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    justify-content: center;
    text-align: center;


}

#header_address {
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

#header_detail {
    font-size: 10px;
    text-align: center;
    text-align: left;
    font-family: 'Arial', sans-serif;
}

#footer_content {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    font-family: 'Arial', sans-serif;

}


#nextColumn {
    margin-left: 500px;
}

.report{
    text-align: center;
}

@page cover { 
    size: letter landscape;
    @frame content_frame {         
        left: 100pt; width: 600pt; top: 110pt; height: 430pt; 
    }
}

@page report {
    size: letter landscape;
    @frame header_frame {         
        -pdf-frame-content: header_content;
        left: 100pt; width: 600pt; top: 10pt; height: 100pt;
    }
    @frame content_frame {         
        left: 100pt; width: 600pt; top: 110pt; height: 430pt; 
    }
    @frame footer_frame {           
        -pdf-frame-content: footer_content;
        left: 100pt; width: 600pt; top: 580pt; height: 40pt; 
    }
}

.cover-sheet {
    max-width: 400px; /* Adjust width as needed */
    margin: 20px auto;
    padding: 3px;
    font-family: 'Arial', sans-serif;
  }
  
  .cover-sheet .header {
    text-align: left;
    margin-bottom: 20px;
  }

  .cover-sheet .address {
    text-align: left;
    margin-left: 50px;
    font-size: 14px;
  }
  
  .cover-sheet .logo {
    width: auto; /* Adjust as necessary */
    height: 100px;
    text-align: left;
  }
  
  .cover-sheet h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .cover-sheet .report-details p {
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .cover-sheet .report-details strong {
    font-weight: bold;
  }
  
  .cover-sheet sup {
    font-size: smaller;
  }
  


.tables tr td{
    font-size: large;
    text-align: center;
    margin: 20px;
    padding : 2px 3px 2px 3px;
    border-style: solid;
    border-color: #2f302f;
    white-space: nowrap;

}

.tables th{
    font-size: large;
    text-align: center;
    margin: 20px;
    padding : 2px 3px 2px 3px;
    border-style: solid;
    border-color: #2f302f;

}



.heading-row{
    padding : 2px 3px 2px 3px;
    border-bottom: 1.5px solid #000000;
    
}



.color2 {
    /* light grey */
    color: blue;
    background-color: #CCCCCC;
    padding : 2px 3px 2px 3px;
    border-top: .5px solid;
    border-color: #CCCCCC;
    text-align: center;
    white-space: nowrap;
}

.color1 {
    /* white */
    color: blue;
    background-color: #ffffff;
    padding : 2px 3px 2px 3px;
    border-top: .5px solid;
    border-color: #CCCCCC;
    text-align: center;
    white-space: nowrap;
}

/* this is for calibration-row. There is some bug with the pdf render that won't work if I name it calibration-row. not sure why. */
.z{
    color: black;
}

.y {
    background-color: yellow;
    /* padding: px; Adjust as needed */
    display: inline-block; /* Or block, depending on layout */
    margin: auto; /* Centers the content if the cell is larger */
}



.positive-table-row{
    /* font color */
    color: #f51111;


}



